body{
    background-image: url(../imagens/plano-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #ee4115;
    border-radius: 10px;    
    overflow:hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #d31a51;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 18px;
    color: #ffffff;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display:flex
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #330613;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 16px 0 rgba(205, 75, 75, 0.2);

}

.cartao .informacoes-abas{
    background-color: #330613;
}

.cartao .abas .aba:hover{
    background-color: #5e0f25da;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 18px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #d0cd02;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.redes-sociais li a{
    background-color: red;
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px; 
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: black;
    border-radius: 10px;
}

.redes-sociais .linkedin{
    background-color: black;
    border-radius: 10px;
}

.redes-sociais .github{
    background-color: black;
    border-radius: 10px;
}

