* {
    scrollbar-width: thin;
    scrollbar-color: #e6195d #120c07;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #e27c28;
    border-radius: 20px;
    border: 3px solid #120807;
}